body {
    background-color: #000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: #fff;
}

h1 {
    font-weight: normal;
    font-size: 50px;
}

h2 {
    font-weight: 300;
    font-size: 42px;
}

a {
    color: aquamarine;
    font-size: 16px;
}

video {
    display: block;
    margin: 0 auto;
}

p {
    color: gray;
    font-size: 21px;
}

picture {
    display: block;
}